<a href="https://colab.research.google.com/github/daniel-usp/MBA-BIA-USP/blob/main/Aula_Caso_ENEM_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Banco de dados do ENEM 2019

In [ ]:
import pandas as pd
fonte = "https://github.com/daniel-usp/LIT/blob/master/Enem_2019.csv?raw=true"
dados = pd.read_csv(fonte)
dados.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001004661    2019                  1506138  ...    A     B    B
1  190001004674    2019                  1504208  ...    A     A    B
2  190001004722    2019                  1501402  ...    A     A    B
3  190001004735    2019                  1507300  ...    A     A    B
4  190001004776    2019                  1500800  ...    A     A    B

[5 rows x 136 columns]

In [ ]:
dados.shape

(127380, 136)